<div class="jumbotron center">
	<img src="Logo_Medium.jpg" class="center" "img-responsive" alt="Responsive image"/></p>
	<p></p>
	<p><h3><strong>Converged Infrastructure Solutions for Resellers</strong></h3></p>
</div>
